.button {
    display: block;
    width: 50%;
}
.center {
    display: block;
    width: 70%;
}

mat-grid-list {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
mat-grid-tile {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

button:nth-of-type(1) {
    background-color: rgb(255, 119, 0);
    margin-right: 10px;
}

button:nth-of-type(2) {
    background-color: #008cff;
}

button:hover {
    background-color: yellow;
}

.times {
    justify-content: center;
    padding: 5em;
    font-size: smaller;
    background: rgba(0, 0, 0, 0);
    color: white;
}

img {
    width: auto;
    height: auto;
    order: 1;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

app-game-score {
    order: 2;
}

.scores-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.scores-solo,
.scores-1V1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-weight: bold;
}

.difficulty-container {
    width: 100%;
    height: 20px;
}

.difficulty-bar {
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.easy {
    background-color: green;
    width: 45%;
}

.hard {
    background-color: red;
    width: 75%;
}

.button-navigator {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
}
