<app-header pageTitle="Bienvenue {{ this.playerName }}"></app-header>
<button mat-icon-button class="exit" routerLink="/main" matTooltip="Quitter" matTooltipPosition="before">
    <mat-icon>exit_to_app</mat-icon>
</button>
<main class="main-container">
    <div class="info-container">
        <div class="player1-points" *ngIf="playerName">
            <h3>{{ playerName }}</h3>
        </div>
        <div class="player2-points" *ngIf="opponent">
            <h3>{{ this.opponent }}</h3>
        </div>
        <div>
            <h3>Différences trouvées: {{ this.gameLogic.differencesFound }}</h3>
        </div>
        <div class="time-container">
            <h3>Temps: {{ this.time }}</h3>
        </div>
        <app-hints *ngIf="!opponent"></app-hints>
    </div>
    <div (keyup.i)="playGround.hint()" class="play-area-container" tabindex="0" autofocus>
        <app-time-limit-play-ground [isSolo]="opponent ? false : true" [constants]="this.constants"></app-time-limit-play-ground>
    </div>
    <app-hint-message #hintMessage class="hints"> </app-hint-message>
    <div class="chat-zone-container">
        <app-chat-zone
            [roomName]="this.roomName"
            [gameMode]="this.gameType"
            [playerName]="playerName"
            [opponent]="opponent ? opponent : ''"
            class="chat-zone"
        ></app-chat-zone>
    </div>
</main>
