<mat-card id="card">
    <mat-card-header>
        <mat-card-title>{{ sheet.title }}</mat-card-title>
        <mat-card-subtitle>{{ sheet.difficulty }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> <img [src]="trustedUrl" alt="Image" /> </mat-card-content>
    <mat-card-content><app-game-score></app-game-score></mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="play()" [disabled]="isConfig">
            {{ isConfig ? 'Réinitialiser' : 'Jouer' }}
        </button>
        <button mat-stroked-button color="accent" (click)="isConfig ? onDelete() : sheet.isJoinable ? join() : create()">
            {{ isConfig ? 'Supprimer' : sheet.isJoinable ? 'Joindre' : 'Créer' }}
        </button>
    </mat-card-actions>
</mat-card>
