
<div class="scores-container">
    <h2>TOP 3</h2>
    <div class="scores-details-container">
        <div class="scores-solo">
            <h3>Solo</h3>
            <div class="score-container" *ngFor="let score of formatScores()">
                {{ score }}
            </div>
        </div>
        <div class="scores-1V1">
            <h3>1 vs 1</h3>
            <div class="score-container" *ngFor="let score of formatScores()">
                {{ score }}
            </div>    
        </div>
    </div>
</div>
