.scores-container {
    text-align: center;
    border: 2px solid #626ca7;
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
}

.scores-details-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

.scores-solo,
.scores-1V1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores-container h2 {
    font-weight: bold;
}

.scores-details-container h3 {
    font-weight: bold;
    font-size: 1.2em;
}
