.chat-overlay {
    top: 50%;
    left: 0px;
    right: unset;
    width: 400px; /* Increase the width */
    height: 300px; /* Decrease the height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.op-name {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.chat-area {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 200px; /* Decrease the height */
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
}

.chat-area > :first-child {
    margin-top: auto !important;
}

.message-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Add this line */
}

.message-player {
    justify-content: flex-end;
    align-self: flex-end;
}

.message-opponent {
    justify-content: flex-start;
    align-self: flex-start;
}

.message-game {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.message-content {
    word-wrap: break-word;
    min-width: 0;
    width: fit-content;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.player {
    background-color: transparent;
    color: #3f51b5;
}

.opponent {
    background-color: transparent;
    color: #757575;
}

.game {
    background-color: transparent;
    color: #3f51b5;
}
