$my-indigo: #3f51b5;
$my-pink: #e91e63;
$my-green: #66bb6a;
$my-red: #f44336;
$my-global: #9c27b0;

* {
    margin: 0 !important;
    padding: 0 !important;
}

.chat-zone {
    padding-left: 1% !important;
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0%;
    outline: 0;
}

.chat-area {
    width: 100%;
    height: calc(100% - 20px);
    background: transparent;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    scrollbar-width: thin;
    scrollbar-color: $my-indigo transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $my-indigo;
    }
}

.message-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.input-area {
    box-sizing: border-box;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    resize: vertical; /* Add this line to enable vertical resizing */
    min-height: 20px; /* Set a minimum height to avoid collapsing */
    overflow: auto; /* Enable scrolling when input exceeds container height */
    width: 100%;
    &:focus {
        border: none;
        outline: none;
    }
}

.chat-area > :first-child {
    margin-top: auto !important;
}

.message-span {
    color: $my-indigo;
}

.message-player {
    color: $my-indigo;
}

.message-opponent {
    color: $my-pink;
}

.message-game {
    color: $my-green;
}

.message-error {
    color: $my-red;
}

.message-global {
    color: $my-global;
}
