<div class="chat-overlay" (keyup.enter)="sendMessage()">
    <div class="op-name" *ngIf="opponent">{{ this.opponent }}</div>
    <div class="chat-area" swScrollPosition="lorum-ipsum">
        <div *ngFor="let message of chatMessages">
            <div class="message-wrapper">
                <div
                    [ngClass]="{
                        'message-player': message.type === 'player',
                        'message-opponent': message.type === 'opponent',
                        'message-game': message.type === 'game'
                    }"
                >
                    <div
                        class="message-content"
                        [ngClass]="{
                            player: message.type === 'player',
                            opponent: message.type === 'opponent',
                            game: message.type === 'game'
                        }"
                    >
                        {{ message.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-area" *ngIf="opponent">
        <input class="input-field" placeholder="type..." maxlength="200" type="text" [(ngModel)]="messageContent" />
        <button class="send-button" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>
