$my-indigo: #3F51B5;
$my-pink: #E91E63;
* {
    margin: 0 !important;
    padding: 0 !important;
}
.chat-zone {
    padding-left: 1% !important;
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.chat-area {
    width: 100%;
    height: calc(100% - 20px);
    background: transparent;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    scrollbar-width: thin;
    scrollbar-color: $my-indigo transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $my-indigo;
        border-radius: 20px;
    }
}

.input-area {
    border: none;
    background:  rgba(0, 0, 0, 0.1);;
    pointer-events: all;

    &:focus {
        border: none;
        outline: none;
    }
}


.chat-area > :first-child {
    margin-top: auto !important;
}
.message-span {
    color: $my-indigo;
}

.message-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-player {
    color: $my-indigo;
}

.message-opponent {
    color: $my-pink;
}

.message-game {
    color: #66BB6A;
}

.message-error {
    color: $my-pink;
}
