<div class="config-buttons">
    <div class="create-game-button">
        <button mat-mini-fab color="primary" matTooltip="Créer un nouveau jeu" routerLink="/creation">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="settings-button">
        <button (click)="openConstants()" mat-mini-fab color="primary" matTooltip="Paramètres du jeu">
            <mat-icon>build</mat-icon>
        </button>
    </div>
    <div class="settings-button">
        <button   (click)="openHistory()" mat-mini-fab color="primary" matTooltip="Historique des parties">
            <mat-icon>history</mat-icon>
        </button>
    </div>
    <div class="settings-button">
        <button   (click)="openReset()" mat-mini-fab color="primary" matTooltip="Remise des données à leur état initial">
            <mat-icon>autorenew</mat-icon>
        </button>
    </div>
</div>