<div class="flex-box">
    <app-header></app-header>
    <main>
        <form>
            <input class="input-field" type="text" id="tile" name="tile" placeholder="Titre du jeu" [formControl]="gameTitle" required />
            <div class="radius">
                <app-sizer [(size)]="fontSizePx"></app-sizer>
                <span class="dot" [style.width.px]="2 * fontSizePx" [style.height.px]="2 * fontSizePx"></span>
            </div>
        </form>

        <section>
            <article class="OGImg indigo-pink-theme">
                <h3>Image originale :</h3>
                <app-image-area [parentFile]="childFile"></app-image-area>
            </article>
            <article class="newbieImg">
                <h3>Image avec différences :</h3>
                <app-image-area [parentFile]="childFile"></app-image-area>
            </article>
        </section>
        <P class="image-info"> Seulement téléverser des images en format BMP 24-bit de taille 640x480.</P>
        <div class="options">
            <input type="file" class="file-input" (change)="uploadImage($event)" accept=".bmp" #fileUpload />
            <button mat-stroked-button color="primary" class="file-upload" (click)="fileUpload.click()">
                {{ fileName || 'Téléverser dans les deux zones' }}

                <button mat-mini-fab color="primary" class="upload-btn" [ngStyle]="{ transform: 'scale(0.7)' }">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </button>
            <button mat-stroked-button color="primary" (click)="verifyDifferences()">
                {{ fileName || 'Vérifier les différences' }}

                <button mat-mini-fab color="primary" [ngStyle]="{ transform: 'scale(0.7)' }">
                    <mat-icon>compare_arrows</mat-icon>
                </button>
            </button>
            <button mat-stroked-button color="primary" (click)="createGame()">
                {{ fileName || 'Créer la partie' }}

                <button mat-mini-fab color="primary" [ngStyle]="{ transform: 'scale(0.7)' }">
                    <mat-icon>done_outline</mat-icon>
                </button>
            </button>
        </div>
        <div class="retour">
            <button class="button" mat-stroked-button color="accent" routerLink="/config">Retour</button>
        </div>
    </main>
    <footer>
        <p>Projet 2 équipe 209 Hiver 2023 à PolyMtl.</p>
    </footer>
</div>
