* {
    margin: 0;
    padding: 0;
}
.flex-box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#sectionHeader {
    grid-area: hd;
    font-weight: bold;
}

.OGImg {
    grid-area: OG;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newbieImg {
    grid-area: newbie;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-template-areas: 'OG OG newbie newbie';
}

h1 {
    font-weight: bolder;
}
h3 {
    margin: 0;
    color: #3f51b5;
    font-weight: bold;
}
h2 {
    color: #ff4081;
}
header {
    flex: 0 1 auto;
}
main {
    flex: 1 1 auto;
    flex-grow: 2;
}
footer {
    flex: 0 1 40px;
}

.file-input {
    display: none;
}

form {
    color: #3f51b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.radius {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
