<div class="container justified">
    <app-header></app-header>
    <section id="server-message" class="justified">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button" (click)="getMessagesFromServer()">Récupérer un message du serveur</button>
            <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
            <button class="button" routerLink="/material">Voir la page démo Angular Material</button>
        </div>
    </section>

    <!-- Bouton pour les options de jeux  -->

    <button class="button" mat-flat-button color="primary" routerLink="/selection-page">Mode Classique</button>
    <button class="button" mat-flat-button color="primary">Mode Temps limité</button>
    <button class="button" mat-stroked-button color="primary">Configuration</button>

    <button class="button" routerLink="/game">Jouer!</button>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 209</h4>
        <p>
            <span>Ahmed El Shami</span>, <span>Skander Hannachi</span>, <span>Zied Kaabi</span>, <span>Rayan Fellah</span>,
            <span>Mohammed Awad</span>, <span>Radwan Rahman</span>
        </p>
    </footer>
</div>
