button:nth-of-type(1) {
    margin-right: 10px;
    margin-left: 40px;
}

.button {
    background-color: #bbbfda;
    width: 120px;
    justify-content: center;
    text-align: center;
}

button:hover {
    background-color: rgb(151, 232, 11);
}
