<div>
    <div class="toolbar">
        <button type="button" mat-button color="primary" [ngClass]="tools.pencil ? 'buttonClicked' : ''" (click)="setUsedTool('pencil')">
            <mat-icon color="primary">create</mat-icon>
        </button>
        <button type="button" mat-button color="primary">
            <input id="colorInput" matInput type="color" (input)="changeColor($event)" />
        </button>
        <button type="button" mat-button color="primary">
            <input type="range" value="2" min="1" max="50" (input)="changePencilWidth($event)" />
        </button>
        <button type="button" mat-button color="primary" [ngClass]="tools.eraser ? 'buttonClicked' : ''" (click)="setUsedTool('eraser')">
            <mat-icon>remove </mat-icon>
        </button>
        <button type="button" mat-button color="primary" [ngClass]="tools.rectangle ? 'buttonClicked' : ''" (click)="setUsedTool('rectangle')">
            <mat-icon>crop_square</mat-icon>
        </button>
        <button type="button" mat-button color="primary" (click)="reset()">
            <mat-icon> autorenew </mat-icon>
        </button>
        <button type="button" mat-button color="primary" (click)="undo()">
            <mat-icon color="primary" class="material-icons mat-24">undo icon</mat-icon>
        </button>
        <button type="button" mat-button color="primary" (click)="redo()">
            <mat-icon color="primary" class="material-icons mat-24">redo icon</mat-icon>
        </button>
    </div>
</div>
