<div class="grid" *ngIf="sheets.length > 0">
    <ng-container class="cards" *ngFor="let sheet of getCurrentSheets()">
        <app-game-card
            class="cell"
            [sheet]="sheet"
            [isConfig]="isConfig"
            (delete)="onSheetDelete(sheet)"
            (createEvent)="onChildEvent($event)"
            (joinEvent)="onJoinEvent($event)"
        ></app-game-card>
    </ng-container>
</div>
<div class="buttons">
    <button mat-mini-fab *ngIf="currentPage > 0" (click)="prevPage()" color="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab *ngIf="currentPage < totalPages - 1" (click)="nextPage()" color="primary"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>

