.differences-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.found {
    display: inline-block;
    padding: 10px;
}

.found-lightbulb {
    color: rgb(61, 152, 0);
    animation: found-lightbulb-animation 1.25s;
}

.not-found-lightbulb {
    color: lightgray;
}

@keyframes found-lightbulb-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.congratulations-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-decoration: double;
    color: red;
}
