<div id="play-area-container">
    <section>
        <article class="original">
            <canvas #canvas1 id="canvas" (click)="handleClick($event)" [attr.width]="width" [attr.height]="height"></canvas>
        </article>
        <article class="modified">
            <div #playAreaContainer>
                <canvas #canvas2 id="canvas" (click)="handleClick($event)" [attr.width]="width" [attr.height]="height"></canvas>
            </div>
        </article>
    </section>
    <button (click)="hint()" mat-stroked-button [disabled]="this.hintService.blockClick || this.isGameDone" color="primary">
        <mat-icon>search</mat-icon> Indice
    </button>
</div>
