.mat-dialog-title {
    font-weight: bold;
}
p {
    color: red;
}

.name {
    color: green;
}

button.mat-mini-fab {
    background-color: gray;
    color: white;
}

button.mat-mini-fab:hover {
    background-color: red;
}
